* {
	box-sizing: border-box;
}

html, body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

body { 
	font-family: "Barlow";
	background-color: #F8F0D1;
}

p {
	font-size: 1em;
}

p > b {
	font-weight: 500;
}

#container-card {
	height: auto;
	width: auto;
	display: flex;
	flex-wrap: wrap;
	column-gap: 2em;
	row-gap: 2em;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	padding: 2em;
}

.scene {
	display: inline-block;
	width: 19em;
	height: 19em;
	perspective: 15em;
}

.card {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transform-style: preserve-3d;
	transform-origin: center right;
	transition: transform 1s;
}

.card.is-flipped {
	transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
	position: absolute;
	width: 100%;
	height: 100%;
	color: white;
	font-weight: bold;
	backface-visibility: hidden;
	/* text-align: justify; */
	}

.card__face--front {
	background: #FF4A52;
	font-size: 1.5em;
	text-align: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.card__face--front > p {
	margin-left: 1em;
	margin-right: 1em;
}

.card__face--back {
	transform: rotateY(180deg);
	display: inline-block;
	background: #9A36E0 ;
	font-weight: 200;
	align-items: justify;
	justify-content: center;
	display: flex;
}

#title {
	color: #FF4A52;
	font-weight: 800; 
	text-transform: uppercase;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	column-gap: 1em;
}

#title > img {
	height: 4em;
	width: auto;
}

#howtouse {
	color: #9A36E0;
	font-weight: bolder;
	width: fit-content;
	margin: auto;
}

.sourcesShowHide {
	cursor: pointer;
	color: #9A36E0;
	font-weight: bold;
	font-size: 1.5em;
	padding-bottom: 2em;
}

ul {
	padding-right: 1.5em;
	padding-bottom: 1.5em;
	display: flex;
	flex-direction: column;
	row-gap: 2em;
}

li {
	color: #9A36E0;
	display: flex;
	align-items: center;
	column-gap: 1em;
}

li > a {
	color: #E6255B;
	font-weight: 700;
}

li > p {
	margin: 0.2em;
	flex: 1;
}

.footer{
	color: #1D1D1B;
	font-size: 0.7em;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F8F0D1;
}

.footer > p {
	width: fit-content;
	margin: auto;
}

.inboxtext--back {
	margin: 1.5em;
	overflow-x: scroll;
}

.aInBox {
	color:white;
	font-weight: bolder;
}

summary {
	width: fit-content;
	margin: auto;
}

@media screen and (max-width: 800px) {
	#title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#title > h1 {
		text-align: center;
	}

	#howtouse {
		max-width: 80vw;
	}

	p {
		font-size: 2em ;
	}

	.inboxtext--back {
		font-size: 2em;
	}

	.scene {
		width: 30em;
		height: 30em;
	}

	footer > p {
		font-weight: 100;
		font-size: 0.8em;
	}

	#container-card {
		margin: 0;
		padding: 0;
	}

	ul > li > p {
		font-size: 1em;
	}
}
